body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100%; 
  text-align: center; 
  margin: 10% 0; 
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.btnList .btn{
  margin-top: 5px;;
}

.large .notification-container .notification::after {
  font-size: 22px;
  top: -13px;
  right: -8px;
  padding: 5px 10px;
}

.medium .notification-container .notification::after {
  font-size: 15px;
  top: -13px;
  right: -8px;
  padding: 5px 8px; 
}

.small .notification-container .notification {
  padding-top: 1px;
}

.small .notification-container .notification::after {
  font-size: 8px;
  top: -11px;
  right: -14px;
  padding: 5px 7px;
}

.popover-header {
  color: #000000;
}
